.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 7, 7, 0.062);
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0 !important;
  margin: 0 !important;
}

@media screen and (max-width: 600px) {
  .row {
    height: max-content !important;
    padding-bottom: 30px;
  }
}
